@use "sass:map";

@use "/src/style/colors";

.text-button {
	position: relative;
	padding: 0 18px;
	height: 34px;
	cursor: pointer;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;

	&.filled {
		color: white;
		background: map.get(colors.$brand, "600");
		font-weight: 500;

		&:hover {
			background: map.get(colors.$brand, "700");
		}

		&.destructive {
			background: #D81B60;

			&:hover {
				background: #C2185B;
			}
		}
	}

	&.bordered {
		color: black;
		box-sizing: border-box;
		border: 1px solid #BFBFBF;
	}

	&.bordered, &.flat {
		color: black;

		&:hover {
			background: rgba(black, 0.1),
		}
	}
}