@use "sass:map";

@use "/src/style/colors";

.text-box {
	background: white;
	color: black;
	font-size: 16px;
	font-weight: 400;
	height: 42px;
	width: 100%;
	padding-left: 12px;
	border: 1px solid colors.$border;
	border-radius: 8px;

	&:placeholder {
		color: rgba(black, 0.5);
	}

	&:focus-visible {
		border: 1px solid map.get(colors.$brand, "600");
		outline: none;
	}
}