@use "sass:map";
@use "sass:math";

@use "/src/style/colors";

@keyframes spinner {
	from { transform: rotate(0deg) };
	to { transform: rotate(360deg) };
}

.spinner {
	position: relative;
	width: 24px;
	height: 24px;

	.spinner-background {
		position: absolute;
		top: 0;
		left: 0;
		color: #E0E0E0;
	}

	.spinner-foreground {
		animation: spinner 550ms infinite linear;
		position: absolute;
		top: 0;
		left: 0;
		color: map.get(colors.$brand, "600");
	}
}