@use "sass:map";

@use "/src/style/colors";
@use "/src/style/mixins";

.page-reports .details {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	z-index: 10;
	background: white;

	@include mixins.divider("right");

	.details-buttons {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 20px;

		@include mixins.divider("right");

		.details-button {
			width: 56px;
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #BFBFBF;
			border-radius: 12px;
			cursor: pointer;
			background: white;

			&.active {
				border: none;
				background: map.get(colors.$brand, "600");
			}

			+ .details-button {
				margin-top: 10px;
			}
		}
	}

	.details-container {
		margin: 20px;
		display: none;
	}

	&.active {
		.details-container {
			display: block;
		}
	}
}

.page-reports .chat {
	width: 330px;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	.chat-message {
		font-size: 15px;
		font-weight: 400;

		em {
			font-weight: 700;
			font-style: normal;
		}

		&.target {
			em {
				color: map.get(colors.$brand, "600");
			}
		}

		& + .chat-message {
			margin-top: 4px;
		}
	}
}

.page-reports .info {
	width: 300px;
	display: flex;
	flex-direction: column;

	> * + * {
		margin-top: 28px;
	}

	.important-player {
		display: flex;
		flex-direction: row;

		+ .important-player {
			margin-top: 18px;
		}

		.important-player-avatar {
			width: 52px;
			height: 52px;
			border-radius: 50%;
		}

		.important-player-details {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 12px;
			user-select: none;

			.important-player-label {
				color: rgba(black, 0.5);
				font-size: 12px;
				font-weight: 700;
				letter-spacing: 2px;
				text-transform: uppercase;
				margin-bottom: 4px;
			}
			
			.important-player-name {
				
			}
		}
	}

	.info-section {
		display: flex;
		flex-direction: column;

		.info-section-header {
			color: rgba(black, 0.5);
			font-size: 15px;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			user-select: none;
		}

		.info-section-contents {
			margin-top: 12px;
			display: flex;
			flex-direction: column;

			&.notes {
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}

			&.players {
				.player {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					height: 38px;
					padding: 0 12px;
					border-radius: 8px;

					+ .player {
						margin-top: 6px;
					}

					&:hover {
						background: #EFEFEF;
					}

					.player-name {
						font-size: 16px;
						font-weight: 400;
					}

					&.target {
						.player-name {
							color: map.get(colors.$brand, "600");
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}