@use "/src/style/colors";

@mixin divider($side) {
	@if $side == "left" or $side == "top" {
		&:before {
			@if $side == "left" {
				right: 100%;
				top: 0;
				width: 1px;
				height: 100%;
			} @else if $side == "top" {
				left: 0;
				bottom: 100%;
				width: 100%;
				height: 1px;
			}

			content: "";
			position: absolute;
			background: colors.$divider;
		}
	} @else if $side == "right" or $side == "bottom" {
		&:after {
			@if $side == "right" {
				left: 100%;
				top: 0;
				width: 1px;
				height: 100%;
			} @else if $side == "bottom" {
				left: 0;
				top: 100%;
				width: 100%;
				height: 1px;
			}

			content: "";
			position: absolute;
			background: colors.$divider;
		}
	}
}